<h1>NEW SHIT</h1>

<%= form_with model: @post, local: true do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %> <br/>

  <%= f.label :body %>
  <%= f.text_field :body %>
  
  <%= f.label :status %>
  <%= f.select :status, [["Draft", "draft"], ["Published", "published"]] %>
  <%= f.submit %>

<% end %>